<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complain</title>

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JSS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <style>
        body {
          background-image: url('img/webimage.png');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          font-family:monospace;
          font-size: larger;
        }
        .feather {
          width: 18px;
          height: 18px;
        }
        .middle {
          padding-left: 15%;
          padding-top: 100px;
        }
        .header {
          color: white;
          margin-top: 10%;
        }
    </style>

</head>
<body>
    <header>
      <%- include('../layouts/navbar.ejs'); %>
    </header>
    <main>
      <!-- Complain Form -->
    <br><br><br>
    <div class="page-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 col-xxl-5">
                    <hr><h3 class="text-center"><b>COMPLAIN FORM</b></h3><hr>
                    <form action = "/complain" method = "post">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="fname" placeholder="Example">
                        </div>
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" class="form-control" name="lname" placeholder="Example">
                      </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="text" class="form-control" name="email" placeholder="example123@email.com">
                        </div>
                        <div class="form-group">
                            <label>Complain</label>
                            <textarea class="form-control" name="complain" rows="3" placeholder="Your Complain"></textarea>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </form>            
                </div>
            </div>
        </div>
    </div>
    </main>
    
    <footer>
      <%- include('../layouts/footer.ejs'); %>
    </footer>
      <!-- feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
    feather.replace()
    </script>
</body>
</html>
