<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropship & Reseller</title>

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JSS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#navbarhome').load('navbar.html');
        $('#footer').load('footer.html');
      })
    </script>
    <style>
      body {
        background-image: url('img/webimage.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family:monospace;
        font-size: larger;
      }
      .feather {
        width: 18px;
        height: 18px;
      }
      .middle {
        padding-left: 15%;
        padding-top: 100px;
      }
      .header {
        color: white;
          margin-top :10%;
      }
    </style>
    
</head>
<body>
    <div id="navbarhome"></div>
    <!--Dropseller-->
    <br><br><br>
    <div class="page-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-13 col-xxl-11">
                <hr><h2 class="text-center"><b>DROPSHIP & RESSELER</b></h2><hr>
                <div class="text">
                    <p><span style="font-size: medium;"><span style="font-size: xx-large;"><strong>DROPSHIP:</strong></span><br></span></p>
<p><span style="font-size: medium;">Sistem dropship memungkinkan Anda untuk mengirimkan barang menggunakan nama Anda/Nama Onlineshop Anda</span></p>
<p><span style="font-size: medium;">1.<strong> Order dilakukan seperti biasa -&gt;</strong> <a href="../MdfOrder.ejs"><span style="font-size: medium; color: red;"><strong>HOW TO ORDER</strong></span></a></p>

<p><span style="font-size: medium;">2. Untuk DROPSHIP, pada saat Checkout,&nbsp;silahkan klik kotak <strong>"Send as Dropshipper"</strong></span> &amp; langsung isi Nama toko Anda &amp; nomor telepom di dalam form yang sudah disediakan </p>

<p><span style="font-size: medium;">3. Dropship disarankan untuk payment via BCA &amp; disertai dengan berita keterangan DROPSHIP+Nomor Ordernya(Berita hanya bisa dimasukkan apabila pembayaran dengan e-banking)</span></p>

<p><span style="font-size: medium;">4. <span style="font-size: large;"><strong>Kerahasiaan terjamin!</strong></span></span></p>
<p><span style="font-size: medium;">Kami sudah menggunakan sistem auto print yang akan langsung ter-print out keluar sesuai dengan data pengirim &amp; penerima yang kamu masukkan saat checkout.</span></p>
<p><span style="font-size: medium;">Kamu juga bisa melacak sendiri resi pengiriman yang kami berikan via email dalam 1x24 jam&nbsp;terhitung dari hari pengiriman di website<strong><span style="font-size: medium;"><a href="http://www.jne.co.id/" data-cke-saved-href="http://www.jne.co.id"><span style="font-size: medium;">&nbsp;
    <span style="font-size: medium; color: #ff0000;">JNE</span></span></a></span> &amp; &nbsp;<a href="http://www.sicepat.com"><span style="color: #3366ff;">Sicepat</span></a></strong></span></p>

<br>
<p><span style="font-size: xx-large;"><strong>RESELLER:</strong></span></p>
<p><span style="font-size: medium;">Tidak semua barang open untuk pembelian reseller, kami hanya menerima reseller untuk beberapa brand &amp; item tertentu.</span></p>
<p><span style="font-size: medium;">Untuk pembelian min.100pcs (bisa mix item)/order akan otomatis mendapatkan harga khusus&nbsp;saat checkout, mohon contact melalui whatsapp dengan nomor <b>081234567890</b> untuk detail selengkapnya.</span></strong></p>
<br><br>
<p><span style="font-size: medium;">Terima kasih telah mempercayai &amp; Selamat berbelanja.</span></p>
<p>&nbsp;</p>                </div>
            </div>
        </div>
    </div>
</div>
    <div id="footer"></div>
    <!-- feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
    feather.replace()
    </script>
</body>
</html>
