<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JSS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/css/sign.css" type="text/css">
    <style>
        body {
            background-image: url('img/webimage.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: monospace;
            font-size: larger;
        }
        
        .feather {
            width: 18px;
            height: 18px;
        }
        
        .middle {
            padding-left: 15%;
            padding-top: 100px;
        }
        
        .header {
            color: white;
            margin-top: 10%;
        }
    </style>
</head>

<body>
    <header>
        <%- include('../layouts/navbar.ejs'); %>
    </header>

    <main>
        <!-- Registration -->
        <div class="container-sign">
            <div class="sign-more"></div>
            <video autoplay muted loop id="putarlah">
          <source src="../img/background.mp4" type="video/mp4">
      </video>
            <div class="wrap-sign">
                <form class="sign-form" action="/auth/signup" method="post">
                    <span class="sign-form-title">Sign Up</span> <% if (locals.error) { %>
                        <span class="text-danger pl-2"><%= error %></span>
                    <% } %>
                    <div class="wrap-input">
                        <span class="lable-input">Full Name</span>
                        <input class="input" type="text" name="name" id="name" placeholder="someone" required="required">
                        <span class="focus-input"></span>
                    </div>
                    <div class="wrap-input">
                        <span class="lable-input">E-mail</span>
                        <input class="input" type="email" name="email" id="email" placeholder="example123@email.com" required="required">
                        <span class="focus-input"></span>
                    </div>
                    <div class="wrap-input">
                        <span class="lable-input">Password</span>
                        <input class="input" type="password" name="pass" id="pass" placeholder="********" required="required">
                        <span class="focus-input"></span>
                    </div>
                    <div class="wrap-input">
                        <span class="lable-input">Current Password</span>
                        <input class="input" type="password" name="repeatpass" id="pass2" placeholder="********" required="required">
                        <span class="focus-input"></span>
                    </div>
                    <div>
                        <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the 
                  <a href='/terms' style="color: black">Terms of Use </a> &amp; 
                  <a href='/privacypolicy' style="color: black">Privacy Policy</a></label>
                        <input type="submit" name="submit" value="Sign Up" class="btn btn-success">
                        <br><br>
                    </div>
                    <div class="wrap-input2">
                        <br>
                        <span class="lable-input2">OR</span>
                        <span style="font-size: medium;"><br>Already have an account? <a href='/signin' style="color: black">Sign In</a> </span>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../layouts/footer.ejs'); %>
    </footer>
    <!-- feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
    <script src="sign.js"></script>
</body>

</html>